<h3>Здравствуйте, {{username}}</h3>


Благодарим Вас за регистрацию в системе StampBaker

Для потверждения адресса электронной почты перейдите, пожалуйста, по ссылке:
https://stampbaker.ru/#/confirm?data={{hash}}

С уважением,
Команда StampBaker

Это письмо отправлено автоматически.
Не надо на него отвечать.